@font-face {
  font-family: jetBrainsMono;
  src: url(../assets/fonts/webfonts/JetBrainsMono-Regular.woff2);
}
* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: jetBrainsMono, sans-serif;
}

body {
  min-height: 100vh;
  min-height: 100svh; /* for mobile so the view port automatically accounts for the address bar going up and down*/
  /* this is to make the rest of the page a flex container that way the bottom of the content will grow if its not big enough to fill the page */
  display: flex;
  /* same with this*/
  flex-direction: column;
  background: #00809d;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 25px;

}
