.CV {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CVCard {
  background-color: #ffffff;
  height: 900px;
  width: 80%;
  box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 25px;
}

.educationCard {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin-top: 10px;
  border-bottom: black dotted 2px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 0px 30px 0px;
  border-bottom: 2px black solid;
}

/*for adding print functionality later. not to worried about it now but this is about how id do it*/
@media print {
  /* All your print styles go here */
  .CV {
    width: 4000px;
  }
  .mainForm {
    display: none;
  }
  .CV,
  .CV,
  .header {
    display: flex;
  }
}
